<body>
    <div class="button">
            

        <a routerLink="first-navigation" class="nav-link" routerLinkActive="active"><button mat-raised-button color="warn"> First Navigation</button></a>
        <a routerLink="second-navigation" class="nav-link" routerLinkActive="active"><button mat-raised-button color="warn" >Second Navigation</button> </a>

        <!-- <a routerLink="first-navigation" (click)="navClick('button')" routerLinkActive="active" class="anchor_class"><button mat-raised-button color="warn"> First Navigation</button></a> -->

        <!-- <button mat-raised-button color="warn"> First Navigation</button>
        <button mat-raised-button color="warn" >Second Navigation</button> -->
            <!-- <a routerLink="first-navigation" routerLinkActive="active" ><button mat-raised-button color="warn">First Navigation</button></a>
            <a routerLink="second-navigation" routerLinkActive="active" ><button mat-raised-button color="warn">Second Navigation</button></a> -->
            
    </div>


    <!-- <mat-list class="list">

            <mat-list-item class="First Navigation"> 
                <mat-icon class="icon">grid_view</mat-icon>
                <a routerLink="First Navigation" routerLinkActive="active" class="effect-underline">First Navigation</a>
            </mat-list-item>
            <mat-list-item class="Second Navigation"> 
                <mat-icon class="icon">library_add</mat-icon>
                <a routerLink="Second Navigation" routerLinkActive="active" class="effect-underline">Second Navigation</a>
            </mat-list-item>

     </mat-list>  -->



</body>
<router-outlet></router-outlet>